documento.aux
documento.bbl
documento.blg
documento.fdb_latexmk
documento.fls
documento.glo
documento.idx
documento.ilg
documento.ind
documento.ist
documento.lof
documento.log
documento.lot
documento.synctex.gz
documento.toc